* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);
    line-height: 2.4rem;
}

a {
    color: hsl(228, 45%, 44%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    width: 300px;
    height: 450px;
}

img {
    border-radius: 1.5rem;
    width: 100%;
    flex: 2;
    
}

.text-container {
    flex: 1;
}

h1 {
    font-size: 2rem;
    margin: 2rem 0rem;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 1.5rem;
    color: hsl(220, 15%, 55%);
    margin-bottom: 10rem;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}